/* App.css */
body {
  font-family: 'Courier New', monospace;
  text-size-adjust: 16px;
  background-color: grey;
}

.app-container {
  max-width: 1000px;
  margin: 70px auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  margin-top: 30px;
  color: #555;
}

.center-button {
  text-align: center; /* centers inline/inline-block elements */
}

/* Style the Link to look like a button */
.add-job-button {
  display: inline-block; /* needed for text-align:center to work */
  padding: 10px 25px;
  background-color: rgb(48, 45, 45);
  color: #fff;
  border-radius: 6px;
  font-size: 16px;
  text-decoration: none; /* remove underline */
  cursor: pointer;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin : 10 auto;
}

table th,
table td {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px;
  text-align: left;
}

table th {
  background-color: rgb(48, 45, 45);;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #fafafa;
}

table tr:hover {
  background-color: #f1f1f1;
}

.delete-button {
  font-family: 'Courier New', monospace;
}

.edit-button {
  font-family: 'Courier New', monospace;
}

table tr td button.delete-button:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

table tr td button.edit-button:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}